body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1521737604893-d14cc237f11d') no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

.hidden {
  display: none;
}

.login-screen, .chat-screen {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  margin-top: 10%;
  text-align: center;
}

input, button {
  padding: 12px;
  margin: 10px 0;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

input {
  background: #fff;
  color: #000;
}

button {
  background-color: #61dafb;
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #21a1f1;
}

.error {
  color: #ff4d4d;
  font-size: 14px;
}

.chat-screen {
  display: flex;
  flex-direction: row;
  height: 90vh;
  max-width: 1000px;
}

.sidebar {
  width: 250px;
  background-color: rgba(32, 35, 42, 0.8);
  padding: 20px;
  border-radius: 10px 0 0 10px;
}

.sidebar h3 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  background-color: #333;
  border-radius: 5px;
}

.sidebar li:hover {
  background-color: #444;
}

.chat-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0 10px 10px 0;
}

.chat-header {
  background: #61dafb;
  padding: 15px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  border-radius: 0 10px 0 0;
  color: #000;
}

.chat-box {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  margin-bottom: 10px;
}

.message strong {
  color: #61dafb;
}

form {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #333;
  border-top: 1px solid #444;
  border-radius: 0 0 10px 0;
}

#messageInput {
  flex: 1;
  width: 400px;
  padding: 12px 14px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color:#000
  font-size: 1.1rem;
  outline: none;
  margin-right: 10px;
  box-shadow: inset 0 0 3px #000;
}

form button {
  padding: 12px 20px;
  width: 100px;
  background-color: #61dafb;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  white-space: nowrap;
  transition: 0.2s;
}
form button:hover{
  background-color: #21a1f1;
}
.input-wrapper{
  position: relative;
  flex:1;
}
.emoji-icon,.mic-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.2rem;
  cursor: pointer;
  user-select: none;
  color:aquamarine;
}
.emoji-icon{
  left:10px;
}
.mic-icon{
  right: 35px;
}